[2019-02-10 07:23] tesseralis opened #1 "Hindi Translation Progress"
Translation details of beta site is available here https://github.com/reactjs/hi.reactjs.org/issues/168
We are not translating these pages anymore.

## Maintainer List

* @saranshkataria
* @arshadkazmi42
## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to tran

[2019-02-10 08:07] arshadkazmi42 commented on #1
@saranshkataria I am starting with Tutrial page

[2019-02-10 09:14] apoorvtomar2222 commented on #1
@tesseralis  @arshadkazmi42  @saranshkataria

How can we differentiate that what all page among the list have already been done ?

[2019-02-10 09:22] arshadkazmi42 commented on #1
@apoorvtomar2222 If any page is completed, it will has a check mark like below
- [x] Done
And if its in progress it will have the username of contributor who is working on it like below
- [] Page (@arshadkazmi42 )

[2019-02-10 09:23] arshadkazmi42 commented on #1
if you would like to work on any of the page translation you can comment here with the page name and we will assign that page to you.

[2019-02-10 17:23] saranshkataria commented on #1
@arshadkazmi42 I am picking up the home page. @apoorvtomar2222 feel free to pick anything else apart from the homepage or tutorial. I think it would be great if we go sequentially though.

[2019-02-10 18:11] saranshkataria opened #2 "React specific translations"
Adding a list of commonly used translations

| :---: | :---:|
| Component | कौम्पोनॅन्ट |
| View | व्यू |
| UI | यूआई|
| Declarative | वर्णनात्मक|

[2019-02-10 18:13] arshadkazmi42 commented on #2
I am not sure about this `कौम्पोनॅन्ट` or `कम्पोनेंट`
which one do you think is correct for this?

[2019-02-10 18:14] saranshkataria commented on #2
@arshadkazmi42 I assumed we are not going to translate the word React anywhere. I think I read that somewhere in the instructions

[2019-02-10 18:15] arshadkazmi42 commented on #2
oh is it. can you share the link to those instructions?
As I have already started with the translations.

[2019-02-10 18:22] saranshkataria commented on #2
Both translations seemingly are correct, but I think it should be `कौम्पोनॅन्ट`. We can decide on one and use that everywhere

[2019-02-10 18:23] arshadkazmi42 commented on #2
Then let's finalize this `कौम्पोनॅन्ट`
We will use this everywhere

[2019-02-10 18:32] arshadkazmi42 commented on #2
@saranshkataria I got some more data to add in from
https://github.com/reactjs/zh-hans.reactjs.org/issues/2

[2019-02-10 18:42] arshadkazmi42 commented on #2
@saranshkataria Dropped you an email on  saransh@wisdomgeek.com
Can you check it once.

[2019-02-11 08:34] gurjotsingh4398 commented on #1
I would like to work on Hello World page.

[2019-02-11 08:36] arshadkazmi42 commented on #1
Go ahead

[2019-02-12 03:38] arshadkazmi42 commented on #1
@saranshkataria Home Page is still not completely translated. I have unmarked it as done.
You can try running it locally. These are the subtitles which are not translated.
- A Simple Component
- A Stateful Component
- An Application
- A Component Using External Plugins

We will mark it as done, when all these are also translated.

[2019-02-12 04:01] saranshkataria commented on #1
@arshadkazmi42, I had mentioned in the PR that it is not complete. I wanted to put something in to kick things off. I know about the remaining sections. I had never marked it as done initially because of that. Working on those sections. Thanks though.

[2019-02-12 04:02] arshadkazmi42 commented on #1
Ok cool. I thought you missed it.
I think those are part of Home page right? Or do we have separate entries for those in the list?

[2019-02-12 04:04] saranshkataria commented on #1
They are in the home page. Also, should we split these into multiple issues instead of just one?

[2019-02-12 04:06] arshadkazmi42 commented on #1
I think this is fine. To keep track for all the Pages.

Also, I am trying to get more contributors to help us with the translations

[2019-02-13 18:16] saranshkataria commented on #1
@arshadkazmi42 the home page is done now! Waiting for you to complete the tutorial page to have the basics done.

[2019-02-13 18:18] arshadkazmi42 commented on #1
@saranshkataria Awesome.
I am 70% done with the tutorial page. Will send a PR in a day or two

[2019-02-14 08:35] iUtsavB commented on #2
this is wrong you should use 'कम्पोनेंट' this is the actual translation

[2019-02-14 08:56] arshadkazmi42 commented on #2
@iUtsavB all are same, it just depends on how you are pronouncing it.

[2019-02-14 11:08] iUtsavB commented on #2
@arshadkazmi42 are you doing translation or pronunciation??

[2019-02-14 16:56] arshadkazmi42 commented on #2
@iUtsavB for this word we are not translating. Just trying to convert it into hindi, so it will be readable in hindi and convey the meaning.
All the spellings we have discussed only differs in the pronunciation. As actual translation of `component` in hindi is  `घटक` or `अंग`

[2019-02-14 19:14] arshadkazmi42 opened #9 "Integrate CircleCI"
Let's integrate Circle CI similar to Japanese translation repository

https://github.com/reactjs/ja.reactjs.org/tree/master/.circleci

[2019-02-14 20:11] saranshkataria commented on #9
I did set it up using the website, but while adding it to the workflow, I don't see the option there. I guess it is a permission thing.

[2019-02-14 20:22] saranshkataria commented on #9
Have integrated the check and set up the project on circle CI

[2019-02-14 20:34] saranshkataria commented on #9
Tested working PR builds with #10, closing this out!

[2019-02-14 20:34] #9 closed

[2019-02-17 09:12] gurjotsingh4398 commented on #2
Should i also convert the words written in example code  to hindi as the codepen link will still show them in english.

[2019-02-17 10:08] arshadkazmi42 commented on #2
@gurjotsingh4398 if it makes sense changing the words in code and does not breaks the code, you can change it there also

[2019-02-17 16:56] hozefaj commented on #1
I can take a crack at the `Warning` section.

[2019-02-17 16:59] arshadkazmi42 commented on #1
Cool. go ahead. Which warning page you will be working on? Can you pick one, so I can assign your name next to page name

[2019-02-17 17:05] hozefaj commented on #1
I can start with `dont-call-proptypes`. Do you have a timeline by which the pages need to get done?

[2019-02-17 17:07] arshadkazmi42 commented on #1
Cool. I will add your username to that page.
We don't have any fixed timelines, but if you get stuck at anything you can let us know.

[2019-02-17 19:44] hozefaj commented on #1
Just curious if there is any long term automation plan to keep the docs in sync with the English version? Or the updates are expected to happen manually every time?

[2019-02-17 20:30] tesseralis commented on #1
@hozefaj a bot will create PRs around once a day when it detects changes to master branch, as so:

https://github.com/reactjs/hi.reactjs.org/pull/11

[2019-02-20 04:50] PriyankaCodes99 commented on #1
Can I translate the Styling and CSS page?

[2019-02-20 04:52] saranshkataria commented on #1
@PriyankaCodes99 go for it! Adding your name next to it

[2019-02-20 05:05] PriyankaCodes99 commented on #1
Thanks! Will have it done in a couple of days (max).

[2019-02-25 07:36] AbhishekCode commented on #1
Hey, Can I translate Rendering Elements page?

[2019-02-25 07:50] arshadkazmi42 commented on #1
@AbhishekCode go ahead. I will assign your name next to the page

[2019-02-25 08:02] AbhishekCode commented on #1
@arshadkazmi42 Thanks 👍

[2019-02-27 09:17] siddharthkp commented on #2
Hi!

I think it's कॉम्पोनेन्ट

More info here: https://github.com/reactjs/hi.reactjs.org/pull/19

[2019-02-27 13:20] arpitbatra123 opened #20 "Wrong Translation on Homepage in Hindi"
The homepage of the reactjs project in the `Hindi` Language has a translation that is not proper.
On, https://hi.reactjs.org/ ,
![image](https://user-images.githubusercontent.com/21967563/53492872-e9f7b380-3abf-11e9-878f-132e6fa69eca.png)
It says ` React Native का उपयोग करके पावर मोबाइल ऐप भी बना सकते हैं।` which is a wrong translation of the same text on the english version that says `and power m

[2019-02-27 13:56] arshadkazmi42 commented on #20
What does power means in this context?

[2019-02-27 14:51] arpitbatra123 commented on #20
`power` in the context of `power mobile apps` means providing mobile applications the necessary capabilities to run.

[2019-02-27 14:55] arshadkazmi42 commented on #20
Then isn't it suppose to mean similar in hindi too? As the direct hindi translation of this would be `बिजली मोबाइल एप्लिकेशन` I think due to this only we have not translated the words and just changed the spelling in hindi.

Also we have alot of pages pending to be translated in hindi. If you would like to contribute then do have a look at #1

[2019-02-27 15:31] arpitbatra123 commented on #20
Yes it is supposed to mean similar, but currently if we translate the Hindi text back to english, it would mean `you can create power mobile apps` which makes no sense. Since there's no meaningful direct translation, `React Native का उपयोग करके मोबाइल एप्प्स भी बना सकते हैं।` can be used which will simply mean `You can also create mobile apps using React Native`. And Sure, If I get time, I will co

[2019-02-27 15:41] arpitbatra123 commented on #20
Also, i can see that the homepage translation is marked as done, but in many places the translation has only been done literally and makes no sense after translation. Such as `Learn Once, Write Anywhere` should have been translated to `एक बार सीखे` instead of `एक बार जानें `.  Can I have another go at the homepage and fix these translations?

[2019-02-27 15:41] arpitbatra123 commented on #20
Also, i can see that the homepage translation is marked as done, but in many places the translation has only been done literally and makes no sense after translation. Such as `Learn Once, Write Anywhere` should have been translated to `एक बार सीखे` instead of `एक बार जानें `.  Can I have another go at the homepage and fix these translations?

[2019-03-03 13:43] helios1101 commented on #1
Can I do the translation for Components and Props page?

[2019-03-03 14:08] arshadkazmi42 commented on #1
@helios1101 Go ahead. I will assign your name next to the page.

[2019-03-03 18:40] saranshkataria commented on #20
@arpitbatra123 you could do that, or can we have everything translated first and then go over such instances? Would be better to have something up first and then we can revisit them?

[2019-03-06 03:05] SahibArora commented on #1
Hi @arshadkazmi42, I can start with reactDOMServer.

[2019-03-06 05:27] arshadkazmi42 commented on #1
@SahibArora You can work on it. I will assign your name to the page

[2019-03-06 14:47] saranshkataria commented on #1
I think we should go in order of the list so that we complete the core pages first. Just a note for people who take up pages in the future

[2019-03-06 16:36] arshadkazmi42 commented on #1
@saranshkataria I know core pages are important, but we should not force it on contributors, I think we should let contributors pick the pages as their comfort.

[2019-03-06 17:22] arshadkazmi42 opened #23 "Review Process"
For reviewing we follow this process.

- You should not resolve review feedback, you can add a comment or an 👍 emoji to every review comment once it's resolved and pushed.
- A reviewer will review the changes and resolve the conversations

[2019-03-06 23:41] saranshkataria commented on #23
We should also add that if the file is large, add a list of sections so that the reviewer can check the ones we have reviewed?

[2019-03-07 03:05] arshadkazmi42 commented on #23
Added this point also 👍

[2019-03-07 03:19] saranshkataria commented on #23
Also, try and have the section names in english so as to avoid any confusions if the translation for the heading changes

[2019-03-07 21:40] helios1101 commented on #1
Sure. The work is under progress at #24

[2019-03-09 19:48] anchal7299 commented on #1
Can i translate Lists and Keys page?

[2019-03-09 19:49] arshadkazmi42 commented on #1
@anchal7299 sure. Let me assign your name next to the page

[2019-03-18 03:26] charBap commented on #1
Can I do State and Lifecycle? and also Handling events?

[2019-03-18 03:54] arshadkazmi42 commented on #1
@charBap sure. Let me assign your name to the page

[2019-03-19 22:20] saranshkataria commented on #1
@charBap @anchal7299 @hozefaj @PriyankaCodes99 any progress?

[2019-03-19 23:17] hozefaj commented on #1
Have not been able to make a lot of progress. Its much harder than I thought. Choosing what to translate and keeping context the same is tricky.

[2019-03-20 01:35] saranshkataria commented on #1
Let us know if we can help

[2019-03-20 02:46] charBap commented on #1
@saranshkataria I have started working on it. Just figuring out the the words that need to be in English.

[2019-03-20 02:47] arshadkazmi42 commented on #1
@charBap We have also added a glossary, at #2
You can check the words we are not translating and we also have some common translations added there

[2019-03-20 12:19] PriyankaCodes99 commented on #1
Yes, just need some time to finish it completely. Trying for this weekend.

[2019-03-24 03:48] yashguptaz commented on #1
Can you please assign me _Handling Events_
Let's get another page done!

[2019-03-24 03:51] arshadkazmi42 commented on #1
@yashguptaz Sure. Let me assign your name right away

[2019-03-26 15:00] SambhavSacheti commented on #1
Can I please translate Lifting State Up ?

[2019-03-26 15:12] saranshkataria commented on #1
@SambhavSacheti sure, putting your name next to it!

[2019-04-03 17:35] apoorvtomar2222 commented on #1
@saranshkataria @arshadkazmi42

I will like to work on *Composition vs Inheritance* page. Can you assign this to my name?

[2019-04-03 18:00] arshadkazmi42 commented on #1
@apoorvtomar2222 Cool. I will assign it right away.

[2019-04-04 03:41] apoorvtomar2222 commented on #2
@saranshkataria @arshadkazmi42

Kindly update whatever is the final translation/pronunciation for the word **component** in the table mentioned above.

[2019-04-04 06:07] arshadkazmi42 commented on #2
@apoorvtomar2222 Whatever is written in this issue description (at the top) is final for now

[2019-04-04 07:40] realdeepak commented on #1
@saranshkataria @arshadkazmi42
I would like to translate these pages : these are the part of Installation -

- Add React to a Website
- Create a New React App
- CDN Links

Please assign it on my name.

[2019-04-04 07:43] arshadkazmi42 commented on #1
@realdeepak We want to proceed page by page.
Let's start with `Add React to a Website`. I will add your name to this page, once you are done with this, you can ping us here for other pages

[2019-04-11 14:10] apoorvtomar2222 commented on #1
@arshadkazmi42 @saranshkataria
Let's mark this as done Composition vs Inheritance?
Can I move forward with "Thinking in React"?

[2019-04-11 14:27] arshadkazmi42 commented on #1
@apoorvtomar2222 Yes, you can let me assign your name next to `Thinking in React`

[2019-04-12 02:02] saranshkataria commented on #20
Closing this out.

[2019-04-12 02:02] #20 closed

[2019-04-14 04:07] charBap commented on #1
@arshadkazmi42  Can I take API reference -> ReactDOM ?

[2019-04-14 04:46] arshadkazmi42 commented on #1
@charBap You have a PR in the review. Let's finish that up and then you can take up the next pages.
As it will be difficult to work on multiple pages at a time since there are a lot of iterations.
If you are still ok working on multiple pages I can assign the page to you, but we will be reviewing the new page once your first PR is reviewed and merged.

[2019-04-14 07:58] manavshrivastavagit commented on #1
Hi @arshadkazmi42  Can I translate API Reference -> React?

[2019-04-14 09:48] arshadkazmi42 commented on #1
@manavshrivastavagit sure. go ahead
i have assigned your name to the page

[2019-04-15 03:00] charBap commented on #1
@arshadkazmi42  I am ok with working on multiple pages. Since my previous page is in the second stage of review, I would like to start working on this. Thank you.

[2019-04-15 04:54] arshadkazmi42 commented on #1
@charBap Cool. Let me assign your name to the page

[2019-05-07 10:01] kambleaa007 commented on #2
कॉम्पोनेन्ट is perfect for all,
Lets Start doing,

[2019-05-07 10:09] kambleaa007 commented on #1
Feel free to assign me a page too.
@arshadkazmi42
Thanks

[2019-05-07 10:31] arshadkazmi42 commented on #1
@kambleaa007 You can pickup any page which is not assign to anyone.
Once you choose a page I will assign your name next to the page

[2019-05-17 12:05] kambleaa007 commented on #1
Yeah,
I like choose to do ` Conditional Rendering`
plz assign it to me,
Thanks

[2019-05-17 12:23] arshadkazmi42 commented on #1
Great. Assigned your name to the page

[2019-06-11 08:32] vermasachin commented on #1
@arshadkazmi42 I would like to translate 'Shallow Renderer', seems small enough to begin.

[2019-06-11 08:37] arshadkazmi42 commented on #1
@vermasachin Cool.
Let me assign your name to that page

[2019-06-11 08:45] kambleaa007 commented on #1
hello guys, which tools you all are using to translate, i tried with google translator, it seems tough.

[2019-06-11 09:36] arshadkazmi42 commented on #1
@kambleaa007 We do not just copy paste the translation, we try to do some manual translations.
I personally use Google Translate + [Hindi Typing](http://indiatyping.com/index.php/english-to-hindi-typing)

[2019-06-14 05:06] kambleaa007 opened #37 "Need a global tool"
we need a global accepted open source tool which can convert English word to Hindi,
itself convertes filters words which need to be get converted or not,
it could save alot of time,
knowledge sharing between all contributors,
new beginners get attracted too,
it will make development fast and easy,
Not just for react conversion it could help to all different upcoming libraries, in future

[2019-06-14 05:17] arshadkazmi42 commented on #37
@kambleaa007 This is a really good idea. We can discuss more on going forward and build this tool.

I think this should be configurable

[2019-06-14 16:37] saranshkataria commented on #37
Easier said than done. Many organizations provide translation services but none have been able to get it to work accurately. Hence the need for manual translations

[2019-06-14 17:15] kambleaa007 commented on #37
It's not easier but not impossible too,
We are providing open source free software to use.

On Fri, 14 Jun 2019, 10:07 pm Saransh Kataria, <notifications@github.com>
wrote:

[2019-06-14 19:24] saranshkataria commented on #37
Feel free to start something if you think you should. Closing this issue out since it is not exactly relevant here.

[2019-06-14 19:24] #37 closed

[2019-06-28 09:37] akanshgulati opened #38 "The example's description having "TODO" translation can be improved"
The current translation for "todo" in the example description seems little off from real definition. Tried to add the right work phonetically.

**Current** -> टोडो
**Correct** -> टूडू

<img width="671" alt="Screenshot 2019-06-28 at 15 05 12" src="https://user-images.githubusercontent.com/5287100/60333377-76ef4280-99b6-11e9-82be-78ce88cf0132.png">

Shall I work on it and improve it?

[2019-06-28 21:07] saranshkataria commented on #38
This occurs only in 1 instance, and yes, happy to accept a PR for it. Thanks for pointing that out. Also, there are a lot of pages that still need translation, so would love to see you contributing to those as well if you want to

[2019-07-07 02:29] #38 closed

[2019-08-20 17:31] paramaggarwal commented on #1
Please list me for API Reference > Test Utilities. Thanks.

[2019-08-20 18:43] arshadkazmi42 commented on #1
@paramaggarwal Assigned your name to Test utilities 👍

[2019-09-23 05:38] AlokTakshak commented on #1
@arshadkazmi42 i want to start contributing from `JS Environment Requirements` please assign it to me

[2019-09-23 05:45] arshadkazmi42 commented on #1
@AlokTakshak Assiged your name next to the page.
You can refer #2 during translation.
It has information about the common translations and words which should not be translated

[2019-09-26 06:48] AlokTakshak opened #48 "using Text as it is , but it should be written in hindi"
https://github.com/reactjs/hi.reactjs.org/blob/master/content/docs/rendering-elements.md

Here `Text` is used as it is but it should be written as `टेक्स्ट` according  to hindi glossary as decide in #2

[2019-09-26 06:56] arshadkazmi42 commented on #48
Good catch.
Feel free to send a PR for this

[2019-09-26 10:45] AlokTakshak commented on #48
sure

[2019-09-26 10:58] AlokTakshak commented on #48
#49

[2019-09-26 11:17] #48 closed

[2019-09-26 11:39] AlokTakshak commented on #1
@arshadkazmi42  please assign ` API REFERENCE > Glossary `  to me

[2019-09-26 14:53] arshadkazmi42 commented on #1
@AlokTakshak done. Assigned the page

[2019-10-01 17:32] arshadkazmi42 commented on #1
Done. Assigned your name to the page

[2019-10-01 22:38] shobhitsingh29 commented on #2
add **JSX** as well to list of not required  translations

[2019-10-02 07:14] arshadkazmi42 commented on #2
Done. Thank you for bringing this up

[2019-10-05 08:42] helios1101 commented on #1
@arshadkazmi42 can I work with APIs and AJAX in FAQ section?

[2019-10-05 17:41] shaekhjamal commented on #1
@arshadkazmi42 Can I take `APIs and AJAX` this page?

[2019-10-05 17:42] arshadkazmi42 commented on #1
@helios1101 Assigned your name next to the page

[2019-10-08 04:32] vishalsodani commented on #1
I would like to take on Create a New React App. Is this the page https://hi.reactjs.org/docs/create-a-new-react-app.html? @arshadkazmi42

[2019-10-08 04:59] arshadkazmi42 commented on #1
Cool. go ahead. Assigned your name to the page

Yes. This is the page

[2019-10-08 05:55] anchal7299 commented on #1
@arshadkazmi42 Can i transalte File Structure page in FAQ section?

[2019-10-08 06:02] arshadkazmi42 commented on #1
@anchal7299 Sure. Go ahead. Assigned your name next to the page

[2019-10-09 08:28] AninditaBasu commented on #1
@arshadkazmi42
May I do CDN links? https://hi.reactjs.org/docs/cdn-links.html

[2019-10-09 09:51] arshadkazmi42 commented on #1
Sure. Go ahead.

[2019-10-13 06:13] AlokTakshak commented on #1
@arshadkazmi42  Assign me Hooks at Glance and using State hooks

[2019-10-13 07:10] arshadkazmi42 commented on #1
@AlokTakshak You already have a PR review in progress. Let's get that closed first then you can take up a new page.

[2019-10-17 04:12] AlokTakshak opened #56 "Yarn dev not working"
When ever i am trying to start the project using `yarn dev` it throws the attached error

OS- Ubuntu 18.04
node- 10.16.3
yarn- 1.19.1

![Screenshot from 2019-10-17 09-38-54](https://user-images.githubusercontent.com/26347838/66977148-61676b00-f0c2-11e9-81d0-fd274a328c99.png)

[2019-10-17 05:35] arshadkazmi42 commented on #56
@AlokTakshak I am sure you would have done it. Just to be sure.
You have to run `yarn` first then `yarn dev`
Also, if you have ran `yarn` did you get any errors?

[2019-10-17 16:21] #56 closed

[2019-10-22 12:57] rao123dk commented on #1
@arshadkazmi42 I would like to  work on ["DOM Elements" ](https://hi.reactjs.org/docs/dom-elements.html)

[2019-10-22 15:40] arshadkazmi42 commented on #1
@rao123dk Go ahead. Assigned to name to the page

[2019-10-30 16:33] gautam-pahuja commented on #1
@tesseralis  @arshadkazmi42  @saranshkataria
Hello guys, I would like to work with React hooks topic. I am planning to take 2 topics:
- Hooks at a Glance
- Using the State Hook

Can you guys pin my name on these.

Thanks ❤️

[2019-10-30 16:34] arshadkazmi42 commented on #1
@gautam-pahuja You can start with one of them, once your first page changes are merged you can start with the second one.
I will assign your name to the first page `Hooks at a Glance`

[2019-10-30 16:39] arshadkazmi42 commented on #1
@SahibArora removed your name from `Forms` page as your PR #22 is closed due to inactivity.
If your are going to reopen it let us know, we will reassign your name

[2019-10-31 06:57] rao123dk commented on #1
I am working on that.

[2019-10-31 11:04] arshadkazmi42 commented on #1
@rao123dk Thank you for confirmation
@gautam-pahuja Thank you for re-confirmation, I think, by mistake I took your name from the list 😄

[2019-10-31 13:00] PriyankaCodes99 commented on #1
I will work on my page.

On Thu., Oct. 31, 2019, 7:04 a.m. Arshad Kazmi, <notifications@github.com>
wrote:

[2019-10-31 19:58] AkshayRaut1321 commented on #1
I want to translate API reference : React.Component

[2019-11-01 06:35] arshadkazmi42 commented on #1
@AkshayRaut1321 Go ahead, I will assign your name to the page

[2019-11-03 16:33] tibabit commented on #1
I am taking up **Introducing Hooks**

[2019-11-04 17:32] AlokTakshak commented on #1
Can I take it now?

[2019-11-04 18:32] arshadkazmi42 commented on #1
@AlokTakshak You have a open PR. Do you want to start working on a new page? I can assign it to you if you can manage

[2019-11-05 03:36] AlokTakshak commented on #1
Than using State hooks

[2019-11-05 05:01] arshadkazmi42 commented on #1
Done, assigned

[2019-11-05 05:03] arshadkazmi42 commented on #1
Hey Guys,
Please ping here if you are working on the pages. We will make the pages available for other contributors from whom ever we are not getting confirmation.

[2019-11-10 18:38] arshadkazmi42 commented on #1
Unassign the name of contributors from page who have not replied and does not have an open PR due to inactivity.
Please ping back here, if anyone is still interested in working on the assigned page

[2019-11-10 18:42] AkshayRaut1321 commented on #1
I am still active on React Components page. I just couldn't get some time last week. I hope to finish it by next weekend.

[2019-11-10 18:44] arshadkazmi42 commented on #1
@AkshayRaut1321 The message was for the list mentioned in quote. As its been long and we haven't received any PR. You have just taken up the page, take your time. Just keep us updated here if you are stuck, need help, or anything else.
So we will know that you are still working on it.
Thanks

[2019-11-10 18:45] AkshayRaut1321 commented on #1
@arshadkazmi42 thank you

[2019-11-10 18:51] gautam-pahuja commented on #1
I am almost done, will open the PR soon.

[2019-11-10 18:52] arshadkazmi42 commented on #1
Sure, thanks for the update. You have already notified us, I have kept your name assigned. Thanks again

[2019-11-11 03:29] apoorvtomar2222 commented on #1
@arshadkazmi42
Currently I am unable to work on Basics > Thinking in React. Please Unassign.

[2019-11-11 05:07] arshadkazmi42 commented on #1
Thank you for informing @apoorvtomar2222

[2019-11-14 11:18] chandrakantnaik789 commented on #1
I wants to work in Rules of Hooks page, is there anyone who is working on that page.

[2019-11-14 12:05] arshadkazmi42 commented on #1
@chandrakantnaik789 go ahead. Assigning your name to the page

[2019-11-16 09:36] kumari1224 commented on #1
I want to work in `React Without ES6` page, please assign it to me if no one is working on it.

[2019-11-16 12:08] arshadkazmi42 commented on #1
@kumari1224 Go ahead. Assigned your name to the page

[2019-11-16 14:26] kumari1224 commented on #1
@arshadkazmi42 Thanks

[2019-11-21 11:40] gautam-pahuja commented on #1
@arshadkazmi42 @saranshkataria
I am finished with the translation of [(Hooks at a glance)](https://github.com/reactjs/hi.reactjs.org/pull/58)

[2019-11-22 09:55] mayank-gangwal commented on #1
@saranshkataria @arshadkazmi42, I may take up Basics ->Thinking in React. Let me know the details - timeline and guidelines?

[2019-11-22 09:58] SambhavSacheti commented on #1
@arshadkazmi42 Can you please review my changes to #30

[2019-11-22 11:04] mayank-gangwal commented on #2
@saranshkataria  what about` क्रमशः` instead of `स्टेप-बाय-स्टेप`

[2019-11-22 20:23] arshadkazmi42 commented on #2
@mayank-gangwal I think `क्रमशः` is a bit complex, we need to keep the documentation easy to understand.
Any thoughts? @saranshkataria  you have any thoughts on this?

[2019-11-22 20:24] arshadkazmi42 commented on #1
@mayank-gangwal cool go ahead.
You can refere #2  for glossary and #23  about our review process

[2019-11-22 20:25] arshadkazmi42 commented on #1
cool. go ahead. I will assign your name to the page

[2019-11-25 22:01] saranshkataria commented on #2
agreed that स्टेप-बाय-स्टेप is easier and we can stick to that instead of the complex क्रमशः

[2019-11-26 05:24] kambleaa007 commented on #2
स्टेप-बाय-स्टेप is easier

[2019-11-26 08:14] mayank-gangwal commented on #2
Adding few more, that are being used repetitively
[code]

Thoughts?

[2019-11-26 09:44] aashirwadgupta commented on #1
I wish to make changes to Forms #22
Kindly let me know if it is still available to grab

[2019-11-26 15:15] saranshkataria commented on #1
@aashirwadgupta you can take the work done in #22 and carry it forward, create a new PR. Assigning it to you.

[2019-11-26 15:22] arshadkazmi42 commented on #2
`Mock` makes sense, `hierarchy` I think this should be better `हायरार्की`

@saranshkataria thoughts?
i will add these in glossary once its finalized

[2019-11-27 06:03] aashirwadgupta commented on #1
Thanks

[2019-11-27 11:17] shob0 commented on #1
I wish to translate Introducing Hooks.

[2019-11-27 12:06] aashirwadgupta commented on #2
attribute : एट्रिब्यूट
submit: सबमिट
"single source of truth" : "सत्य का एकमात्र स्रोत"
Will it be okay?

[2019-11-27 13:57] arshadkazmi42 commented on #1
@shob0 Cool. Go ahead.

[2019-11-27 15:27] arshadkazmi42 commented on #2
Updating the list

`parent` is already there in the list. Child we will add

[2019-11-27 15:33] arshadkazmi42 commented on #2
@aashirwadgupta @mayank-gangwal
I am not sure about the following,

[code]

other than above, I think everything is fine.

Let's discuss this list above, which we should add and what translation we should add

[2019-12-03 05:40] aashirwadgupta commented on #1
Hi Team,
I would like to take "**React**" translation under "**API reference**".
Kindly let me know if I can go ahead with it.

[2019-12-03 08:39] arshadkazmi42 commented on #1
@aashirwadgupta you have a PR in review. Lets get that closed before you start working on a new page

[2020-01-22 08:26] ps0305 commented on #1
@arshadkazmi42 & team,
i would like to rake **SyntheticEvent** for translation.
Please assign me the one.

[2020-01-22 10:54] arshadkazmi42 commented on #1
@ps0305 Cool Go ahead. I will assign you the page

[2020-01-23 21:57] AkshayRaut1321 commented on #1
Hi @arshadkazmi42  Sorry for late update. I got very busy past few months and the work was about 40% complete for the React Components page and now I finally decided to continue my translation work so I cloned my forked repo on my machine and it's running into issues. It was working earlier. If anyone can help with it then good otherwise you can unassign it maybe someone else might not face these

[2020-01-24 04:47] arshadkazmi42 commented on #1
Cool. Let me know if you  still need some help with this.
For fork branch, I will suggest first sync it with hi.reactjs.org master master branch before starting to working on this.
There is a cli tool I have created to do this, you can give it a try if you want
https://github.com/gh-conf/upfork

[2020-02-04 06:02] anoopsingh1996 commented on #1
Hi, @arshadkazmi42  and team,
I would like to take " Using the Effect Hook" translation under the "Hooks" page.
Kindly let me know if I can go ahead with it.

[2020-02-04 06:11] arshadkazmi42 commented on #1
@anoopsingh1996 Go ahead. I will assign your name to the page

[2020-02-10 11:26] visshaljagtap commented on #1
Hi @arshadkazmi42, I would like to translate "Building Your Own Hooks" page.
Please assign me the same.

[2020-02-11 02:12] arshadkazmi42 commented on #1
Cool. I have assinged the page to you. Go ahead and send a PR

[2020-03-03 04:13] ankit986 commented on #2
`कम्पोनेंट` this is more appropriate

[2020-03-03 06:23] arshadkazmi42 commented on #2
@ankit986 This translation completely depends on how you are pronouncing it.
For now, we have kept a fixed translation `कौम्पोनॅन्ट` so once when we are done with all the translation it will be just find and replace work.
Also, we have pending discussions around many of these types of words

[2020-03-03 18:47] ankit986 commented on #2
okay @arshadkazmi42

[2020-03-19 21:26] mayankverr commented on #1
I'd like to take the Portals page under advanced guides

[2020-03-20 03:55] arshadkazmi42 commented on #1
@mayankverr Go ahead

[2020-03-20 22:20] mayankverr commented on #1
@arshadkazmi42 just created a PR

[2020-04-04 09:44] AkshayRaut1321 commented on #1
Hi @arshadkazmi42  I am unable to spend time on translation so I have some partial work done. About 30% of the page is translated.
If you prefer I can make a pull request with whatever I have, or I can delete the forked repo.
Please suggest.

[2020-04-04 10:59] arshadkazmi42 commented on #1
@AkshayRaut1321 I think you can send a PR. We will see if someone else could take it up

[2020-04-26 16:17] ps0305 commented on #1
@arshadkazmi42: i can take `Hooks FAQ`, can you please, assign me one?

[2020-04-26 17:16] arshadkazmi42 commented on #1
Page assigned

[2020-06-14 17:25] nnhhiilliisstt commented on #2
I think when it comes to words whose strict hindi tranlation is complex, we would be better off by sticking to hinglish translation.

[2020-07-07 02:02] bhatvikrant commented on #1
Hello dear maintainers @saranshkataria @arshadkazmi42, thanks for doing such a great job!

I will be translating *Virtual DOM and Internals*. Please assign this to me 😀

[2020-07-07 03:44] saranshkataria commented on #1
@bhatvikrant thank you. assigned 😄

[2020-07-26 15:46] bhatvikrant opened #81 "Noticed a bit of shift on the right hand side menu headings and the internal search bar in the React docs for hindi when compared to the original react docs."
Please note that the internal Search bar and the headings in the right-hand sidebar are shifting a bit:
I am not sure if this is intentional. If it is please ignore. 🙂

![ezgif com-gif-maker](https://user-images.githubusercontent.com/50735025/88483350-e0100380-cf84-11ea-871c-94f6d1c65315.gif)

[2020-07-26 16:40] bhatvikrant commented on #2
@saranshkataria @aashirwadgupta @mayank-gangwal
I am not sure about the following,
[code]

[2020-07-26 16:45] nnhhiilliisstt commented on #2
I think you should go with these:
"virtual":  "वर्चुअल"

"shadow": "शैडो"

"representation":  "रिप्रजेंटेशन"

[2020-07-26 17:39] saranshkataria commented on #81
This was because a commit adding margin upstream had not made it in the Hindi documentation yet. Usually the bot does that and it has a defined frequency of when to merge them, but I did it manually to verify it and they both match now. Thanks for the issue though.

[2020-07-26 17:39] #81 closed

[2020-08-06 22:57] nnhhiilliisstt commented on #1
@arshadkazmi42 i would like to translate Passing Functions to Components.Please assign me on this one.

[2020-08-29 14:24] bhatvikrant commented on #1
Hi, dear admins @saranshkataria, @arshadkazmi42 can you please assign me the translation of `Component State` under FAQ.

Thanks😄.

[2020-08-31 05:11] saranshkataria commented on #1
@bhatvikrant @nnhhiilliisstt done 👍

[2020-09-01 12:54] Hrshk15 commented on #1
How can I translate any page ?

[2020-09-01 12:56] Hrshk15 commented on #1
I would like to contribute to the react translation in HINDI LANGUAGE , what's the procedure to begin with it?

[2020-09-01 14:53] bhatvikrant commented on #1
HI there @Hrshk15 , You can check [this](https://github.com/reactjs/hi.reactjs.org/issues/23) issue for more information.

PS. I am not one of the official maintainers. Just trying to help.

[2020-09-02 12:01] Hrshk15 commented on #1
May I translate "Introducing JSX" .

[2020-09-02 12:14] arshadkazmi42 commented on #1
@Hrshk15 That is already done at #12
You can take a page which is not assigned to anyone

[2020-09-03 12:09] Hrshk15 commented on #1
@arshadkazmi42  Can I translate the react section under API REFERENCE.

[2020-09-03 12:52] arshadkazmi42 commented on #1
@Hrshk15 Assigned API Reference > React page to you.

This is the page you need to translate
https://github.com/reactjs/hi.reactjs.org/blob/master/content/docs/reference-react.md

Translate the complete file in Hindi. Refer #2 for common translations.
Do not translate code blocks.
Once complete file is translated, send a PR for review.
There will be two phases of review. Once your PR gets approved

[2020-09-06 09:31] Hrshk15 commented on #1
I have tried  running it locally, following the steps mentioned.
But  it gives this error-

ERROR #85923 GRAPHQL

There was an error in your GraphQL query:

Cannot query field "allExampleCode" on type "Query".

Kindly suggest me what should I do.

[2020-09-07 09:35] arshadkazmi42 commented on #1
Follow the below steps

1. Clone repository
2. Run `npm install` in the root directory hi.reactjs.org
3. Run `npm start`

if you are seeing some error after this, share screenshot and error logs.

[2020-09-11 11:39] neeraj-here commented on #1
Hi @arshadkazmi42
I am interested in translating the **ReactDOMServer** under **API Reference**. Can I do that? If yes, please guide me with the procedure.

[2020-09-13 02:36] saranshkataria commented on #1
@neeraj-here  assigned 👍

[2020-10-02 15:39] syshcndr commented on #1
Hey!
I am interested in translating the JSX In Depth under Advanced Guides.

[2020-10-04 16:58] neeraj-here commented on #1
After

@arshadkazmi42  @saranshkataria
I faced the same problem as by @Hrshk15 . Tried the above mentioned way but still getting a error. Here are the logs:

**HP@LAPTOP-BNE4L5IB MINGW64 ~
$ cd e:
HP@LAPTOP-BNE4L5IB MINGW64 /e
$ dir
!qhlogs.doc         CodeBlocks    GIMP\ 2                  My\ photos        System\ Volume\ Information
$RECYCLE.BIN        coursera-sub  Interactivity\ with\ JS  New

[2020-10-04 20:18] bhatvikrant commented on #1
@neeraj-here  do you have access to GitHub codespaces beta?

If not then check [this](https://dev.to/vikrantbhat/open-any-public-github-repo-in-codesandbox-in-3-seconds-2il2) blog, and open the project in code sandbox instead. Maybe this might help.

[2020-10-07 08:22] tanishqchamola commented on #1
@saranshkataria @arshadkazmi42
Hi, can I help with translating Test Renderer page?

[2020-10-08 12:24] ShivamPorwal02 commented on #1
Hi, Can I take **dont-call-proptypes** page for translation ?

[2020-10-09 09:42] arshadkazmi42 commented on #1
try delete node-modules folder and package-lock.json or yarn.lock then try running `yarn` and then `yarn dev`

[2020-10-09 09:43] arshadkazmi42 commented on #1
sure @tanishqchamola . page assigned

[2020-10-09 09:44] arshadkazmi42 commented on #1
@ShivamPorwal02 page assigned

[2020-10-11 08:02] vivek80801 commented on #1
How can I contribute in translation of reactjs in hindi.?

[2020-10-11 23:14] vivek80801 commented on #1
Can I also help in translation of reactjs?

[2020-11-02 14:22] vieee commented on #1
Hi, can I help with translating the `Hooks API reference` page within the Hooks section..?

[2021-01-05 05:04] piyush9311 commented on #1
I would like to work upon the issue #26 and translate "State and Lifecycle".

[2021-01-10 17:24] cspdabbler commented on #2
For words related to mutation:

mutation : परिवर्तन/ बदलाव ( example: variable mutation is difficult - वेरिएबल में बदलाव  मुश्किल है )
mutable: परिवर्तनीय ( example: state is mutable - स्टेट परिवर्तनीय है )
immutable: अपरिवर्तनीय  ( example:  state is immutable - स्टेट अपरिवर्तनीय है )
immutability: अपरिवर्तनीयता ( example: variable immutability is important- वेरिएबल में अपरिवर्तनीयता आवश्यक है )

[2021-01-22 06:47] piyush97 opened #113 "Merge Conflict Head trail needs to be removed from Documentation route"
## Issue
* Merge Conflict Head trail needs to be removed from Documentation route
* Link: https://hireactjsorg.fbopensource.vercel.app/tutorial/tutorial.html#inspecting-the-starter-code
![image](https://user-images.githubusercontent.com/18229627/105456684-9aba5d80-5cab-11eb-9574-52cc52f8221b.png)

[2021-01-22 06:48] piyush97 opened #114 "Starter code from CodeSandbox not loading in Production (Current) release"
Starter code from CodeSandbox not loading in Production (Current) release

Link: https://hireactjsorg.fbopensource.vercel.app/tutorial/tutorial.html#inspecting-the-starter-code
![image](https://user-images.githubusercontent.com/18229627/105456855-e5d47080-5cab-11eb-949a-3660a3210a4b.png)

[2021-03-20 22:43] Himnashu commented on #1
Hi @arshadkazmi42, can I help with translating the Reconciliation page?

[2021-09-18 13:37] arshadkazmi42 commented on #114
This seems to be fixed. In latest main branch

https://hireactjsorg-fbopensource.vercel.app/tutorial/tutorial.html#inspecting-the-starter-code

[2021-09-18 13:37] #114 closed

[2021-09-18 13:38] arshadkazmi42 commented on #113
This seems to be fixed now in main branch

[2021-09-18 13:38] #113 closed

[2021-10-30 18:00] vishalnagda1 commented on #1
@tesseralis I would like to translate **React Without JSX** page in **Advanced Guides**.
Please assign it to me.

[2021-10-30 18:07] arshadkazmi42 commented on #1
@vishalnagda1 Go ahead

[2021-10-30 20:21] vishalnagda1 commented on #1
@arshadkazmi42 Completed the last task. Please review the PR #163
Next I would like to take **JSX In Depth** page in **Advanced Guides** for translation.

[2021-10-31 17:21] vishalnagda1 commented on #1
@arshadkazmi42 Should I proceed with *JSX In Depth* page in *Advanced Guides* for translation, or should I wait for previous PR to get merge before starting with new one?

[2021-11-01 05:42] arshadkazmi42 commented on #1
@vishalnagda1 sure go ahead

[2021-12-01 08:02] arshadkazmi42 opened #168 "Beta: Hindi Translation Progress"
Note: This placeholder issue, will be updated with complete details soon.

@saranshkataria Please check the discussion here https://github.com/reactjs/reactjs.org/issues/4135#issuecomment-981867492

Seems we want to stop current translation and start working on BETA pages translations.

I think we should update this ticket with all page details.

Any suggestions on how to go about it?

[2021-12-07 13:32] NegiAkash890 commented on #168
Hi @arshadkazmi42 can I  do translations for the blog and community pages ?

[2021-12-07 13:43] arshadkazmi42 commented on #168
@NegiAkash890 We are yet to update this issue with all details. But you can go ahead start. Just FYI, we are starting with transaction of pages in `beta` folder.

[2021-12-07 13:52] arshadkazmi42 commented on #168
@NegiAkash890 please select pages from the live above which have a :white_check_mark: added to it.

[2021-12-08 03:44] NegiAkash890 commented on #168
Ok. I will start with translation.

[2021-12-18 14:45] Vijaynyaya commented on #2
वर्णनात्मक is associated with हिंदी वर्णमाला।
घोषणात्मक is better for signifying 'declarative'.
If we don't mind borrowiing words from urdu,  I'd prefer एलनात्मक

[2021-12-18 15:25] arshadkazmi42 commented on #2
Thank you for suggestions.

I feel `घोषणात्मक` would be better.

@saranshkataria Any inputs?

[2021-12-18 17:06] Vijaynyaya commented on #2
1) I can't find any style guide or criteria for deciding which terms should to be translated into hindi and which shouldn't.
For instance, I beleive that  proper names like 'component' => कंपोनेंट for developing a common vocabulary that facilitates communication accross languages. But theoretical/abstract/explanatory terms should always be translated.

2) Links to usefull/recommended linguistic re

[2021-12-18 17:23] arshadkazmi42 commented on #2
@Vijaynyaya

For the list of words you can refer the description of the issue.

Also, some are decided on discussing and taking a call after mutual discussion here.

Most of them which are in list are React / JS related keywords, in general any keyword related to any technology shouldn't be translated.
For ex: `Component` is a terminology in React which have a specific meaning and we can't transla

[2021-12-18 17:23] arshadkazmi42 commented on #2
For now. I am adding this in the list  `declarative` => `घोषणात्मक`

[2021-12-28 16:58] Vijaynyaya commented on #2
अचल = immovable
Therefore, immutable should = अपरिवर्तनीय या बेबदल।

[2021-12-29 16:36] arshadkazmi42 commented on #2
This sounds better. Updating
[code]

[2022-01-02 17:37] kumard3 commented on #168
can you please assign me  Thinking in React page

[2022-01-03 04:09] arshadkazmi42 commented on #168
Go ahead. I have assigned the page to you

[2022-01-06 12:15] NegiAkash890 commented on #168
Hi @arshadkazmi42 I am almost done with translation for the `Start a new React Project` page translation can I work on the `Editor setup page` side by side?

[2022-01-06 12:22] arshadkazmi42 commented on #168
@NegiAkash890
Lets get one page merge then we can move to next pages. We don't want alot of pending PRs. :)

You can pick up a new page, once current page is merged.

[2022-01-06 18:06] lucifertrj commented on #168
Can you please assign [Form page](https://hireactjsorg-fbopensource.vercel.app/docs/forms.html) or [Create A New React App](https://hireactjsorg-fbopensource.vercel.app/docs/create-a-new-react-app.html) to me? As you mentioned I will open a pull request after a current page is `merged`

[2022-01-07 04:57] arshadkazmi42 commented on #168
Hi @lucifertrj

We are only translating the page in the issues list. Can you pick one page from the list above.

[2022-01-08 04:52] lucifertrj commented on #168
Can you assign me ``Javascript in JSX with Curly Braces`` page

[2022-01-08 04:54] arshadkazmi42 commented on #168
Pages assigned. go ahead

[2022-01-08 11:43] Anishpras commented on #168
@arshadkazmi42 Can you assign me the react developers tool page?

[2022-01-08 11:45] arshadkazmi42 commented on #168
Page assigned

[2022-01-08 11:46] Anishpras commented on #168
Thank you.

[2022-01-09 12:17] Anishpras commented on #168
@arshadkazmi42 Can you assign me the editor setup page?

[2022-01-09 15:00] arshadkazmi42 commented on #168
@Anishpras Page assigned.

[2022-01-11 13:51] lucifertrj commented on #168
I have completed the translation of the `JavaScript In JSX Curly Bracket` page. Can you assign me the `Rendering Lists` Page? @arshadkazmi42

[2022-01-14 17:51] sanchit36 commented on #168
Hey @arshadkazmi42 can i work on Conditional Rendering page.

[2022-01-15 05:15] arshadkazmi42 commented on #168
@sanchit36 Go ahead. I have assigned the page to you

[2022-01-22 12:02] Rohan-Makwana commented on #168
Hey @arshadkazmi42, I want to translate Render and Commit Page, and I have already completed translating till step 2. Apologies for asking late but can you assign me this page?

[2022-01-22 13:08] arshadkazmi42 commented on #168
@Rohan-Makwana Sure go ahead. I have assigned you the page.

[2022-01-22 15:29] Rohan-Makwana commented on #168
Thank you, I have translated the `Render and Commit`  page , awaiting review. #179

[2022-01-22 15:31] arshadkazmi42 commented on #168
cool. i will get to it ASAP

[2022-02-03 07:51] Akshit1025 opened #183 "I have a query regarding translation ( I am new here )"
So hey,
I am Akshit and I am from India
I want to help you guys by translating the website to a Hindi website
so I wanted to ask how is it done and what all has to be done because I am not able to understand the process given in the README.md file, so can anyone explain me what all do we have to do exactly

[2022-02-03 08:01] arshadkazmi42 commented on #183
Hi @Akshit1025

We are in process of translating only beta pages now. You can get more details in this Issue https://github.com/reactjs/hi.reactjs.org/issues/168

Also, you should refer these two tickets for glossary (details about common words and the words which we are not translation) https://github.com/reactjs/hi.reactjs.org/issues/2

To know more about the review process refer this #23

Let m

[2022-02-03 08:09] Akshit1025 commented on #183
thanks for the quick reply. I look into these
thanks

[2022-02-03 08:16] Akshit1025 commented on #183
hey I wanted to ask that after translating the page
what all has to be done (frankly speaking I will be doing my first pull request when finished)
so that is why I am asking what all has to be done after the translation of the pages

[2022-02-03 08:33] Akshit1025 commented on #168
hey please assign me the page named: `Your First Component`

[2022-02-03 11:17] arshadkazmi42 commented on #183
@Akshit1025

You can do following

1. Fork the repository
2. Clone the forked repository
3. Do the translation
4. Check in the translated file.
5. Navigate to this repo, you will see an option to create pull request.
For more info you can check this repository https://github.com/firstcontributions/first-contributions

[2022-02-03 11:18] arshadkazmi42 commented on #168
@Akshit1025 Page assigned.

[2022-02-03 17:56] Akshit1025 commented on #183
ok thanks

[2022-02-03 17:56] Akshit1025 commented on #168
ok thanks

[2022-02-04 09:14] #183 closed

[2022-02-18 08:05] lucifertrj commented on #168
Hey @arshadkazmi42, can you assign me `Rendering Lists` page?

I will keep in mind the silly mistakes I did while editing #175

[2022-02-18 12:30] arshadkazmi42 commented on #168
@lucifertrj Page assigned

[2022-03-14 10:17] Anku5hk commented on #168
Hey @arshadkazmi42, can you assign me to `Writing Markup with JSX` page?

[2022-03-14 10:22] arshadkazmi42 commented on #168
Page assigned

[2022-03-19 04:22] sanskar-mk2 commented on #168
Hello Sir, I would like to be assigned to "Passing Props to a Component". Thank you.

[2022-03-19 05:57] arshadkazmi42 commented on #168
page assigned

[2022-05-02 17:07] lucifertrj commented on #168
@arshadkazmi42 I got stuck in different work and exams. SO, I had completely forgotten about this. I shall open pull request within this week

[2022-05-10 06:16] karanthek2002 commented on #168
Hey, can you assign me to **Responding to Events** . Thank you.

[2022-05-10 06:21] arshadkazmi42 commented on #168
page assigned

[2022-05-10 10:03] arshadkazmi42 commented on #168
Hi @Albert-Jokelin
I don't see any page with that name.

Can you let me the exact page name from the list in issue description. So I can assign you the page.

[2022-05-10 10:10] Albert-Jokelin commented on #168
https://beta.hi.reactjs.org/apis This is the webpage

[2022-05-10 10:32] arshadkazmi42 commented on #168
@Albert-Jokelin That page is not ready for translation yet.
You need to select one page from the list mentioned which have a :white_check_mark against it

[2022-05-10 10:35] arshadkazmi42 commented on #168
@Albert-Jokelin I just crossed checked with English version of docs, seems its available for translation.

Assigned the page to you

[2022-05-30 05:04] navinsinghrangar commented on #168
Hi @arshadkazmi42 kindly assign me this page https://beta.hi.reactjs.org/learn/editor-setup or this https://beta.hi.reactjs.org/learn/start-a-new-react-project

[2022-05-30 05:15] arshadkazmi42 commented on #168
@navinsinghrangar Those pages are already assigned to other members.

Can you check this issue description and pick a page, which is not assigned to anyone.

Let me know the page and I will assign it to you

[2022-05-30 06:39] navinsinghrangar commented on #168
I will be working over this one ''Importing and Exporting Components''

[2022-05-30 06:40] arshadkazmi42 commented on #168
page assigned

[2022-05-30 06:47] navinsinghrangar commented on #168
haven't received yet

[2022-05-30 06:53] arshadkazmi42 commented on #168
@navinsinghrangar you will not receive anything.

I have added your name next to the page name in the issue description.

![Screenshot from 2022-05-30 12-22-50](https://user-images.githubusercontent.com/4654382/170933978-96bcb701-4544-4c6d-ab1f-7eae3b84b2ce.png)

You can start with the translation and send a PR

[2022-06-08 16:12] arshadkazmi42 commented on #168
Those index pages means the landing pages of those sections.
Ex: https://beta.hi.reactjs.org/learn/describing-the-ui
https://beta.hi.reactjs.org/learn/adding-interactivity

Also, we are only translating the pages which are mentioned in the list. So the page which you have listed, we are not translating that page also yet.

[2022-06-28 05:12] MayurSMahajan commented on #168
Hey @arshadkazmi42 ! I want to translate this page :  **State: A Component's Memory**
from [https://beta.hi.reactjs.org/learn/state-a-components-memory](url)

[2022-06-28 08:29] arshadkazmi42 commented on #168
@MayurSMahajan page assigned.

[2022-07-08 17:25] DeepshikaS commented on #168
Hey @arshadkazmi42, I would like to translate Updating Arrays in State page.

[2022-07-08 17:39] arshadkazmi42 commented on #168
Page assigned. Please go ahead and send a PR.

[2022-07-11 08:24] MayurSMahajan commented on #2
### What should be done with the word "function"
@arshadkazmi42 what should we do with the word "function". Right now I am keeping it as function as "no translation is needed" although it is not it "no translation needed" section given at the top. I follow it with a hindi word कार्य inside a bracket.

Eg : function (कार्य)

[2022-07-19 11:54] DeepshikaS commented on #2
@arshadkazmi42 objects or ऑब्जेक्ट्स ?
Which one should be used?

[2022-07-19 12:23] arshadkazmi42 commented on #2
I think lets use `ऑब्जेक्ट्स` we have been using this in other pages

[2022-08-03 07:46] MayurSMahajan commented on #2
@arshadkazmi42 can you add 'boolean' to "Content that does not need to be translated", or do you have something in mind for translating the word 'boolean'.

[2022-08-03 07:49] arshadkazmi42 commented on #2
`boolean` added to the list of no translation required.

Thank you for letting us know about this

[2022-08-03 11:10] MayurSMahajan commented on #2
@arshadkazmi42 can you add 'object' to "Content that does not need to be translated", or do you have something in mind for translating the word 'object'.

[2022-08-03 11:14] arshadkazmi42 commented on #2
Added the translation for `object`

[2022-08-03 11:17] MayurSMahajan commented on #2
That was Fast! Thank you @arshadkazmi42 , its maintainers like you that keep open source projects alive.

[2022-08-04 06:00] MayurSMahajan commented on #2
@arshadkazmi42 can you add 'event' and 'event-handler' to "Content that does not need to be translated", or do you have something in mind for translating those words.

[2022-08-04 07:08] arshadkazmi42 commented on #2
Added both the words to `No Translation Required`

[2022-08-04 07:14] MayurSMahajan commented on #2
@arshadkazmi42 what about the word condition as in if..else... condition, I am keeping it as is, let me know if you have something else figured out.

[2022-08-04 07:15] arshadkazmi42 commented on #2
Anything related to code, we don't translate

[2022-08-04 07:16] MayurSMahajan commented on #2
Great that's what I thought! But its always better to confirm.

[2022-08-04 11:55] MayurSMahajan opened #208 "Translation for "State: A Component's Memory""

[2022-08-04 19:37] arshadkazmi42 commented on #208
@MayurSMahajan we do not need to create a separate issue for each page. we follow same issue to track all the PRs

[2022-08-04 19:37] #208 closed

[2022-08-19 17:33] Akshat2Jain commented on #168
Hey @arshadkazmi42, I would like to translate Updating Objects in the State

[2022-08-19 18:06] arshadkazmi42 commented on #168
@Akshat2Jain Page assigned. You can translate the page and send a PR.

[2022-08-23 04:40] BryanRonad commented on #168
Hey @arshadkazmi42, I would like to be assigned Sharing State Between Components

[2022-08-23 04:48] Nez3 commented on #168
Hey @arshadkazmi42, I would like to translate Scaling Up with Reducer and Context page. Thank you.

[2022-08-23 06:39] arshadkazmi42 commented on #168
@BryanRonad Page assiged

[2022-08-23 06:40] arshadkazmi42 commented on #168
@Nez3 Page assigned

[2022-09-02 12:59] SQuIsHY7D3m opened #213 "`रिएक्ट` => `React`"
`रिएक्ट` => `React`

we are not translating React word

_Originally posted by @arshadkazmi42 in https://github.com/reactjs/hi.reactjs.org/pull/169#discussion_r765428008_

[2022-09-02 12:59] SQuIsHY7D3m commented on #213
If effects user please translate for easy platform use

[2022-09-02 12:59] #213 closed, assigned to nobody

[2022-09-18 07:33] Sandeepkumarmadhdeshiya opened #215 "React js in Hindi Language"
Pls make in Hindi Language

[2022-09-18 09:17] arshadkazmi42 commented on #215
@Sandeepkumarmadhdeshiya Hindi translation is in progress you can follow the progress here #168

Beta site is here https://beta.hi.reactjs.org/learn/add-react-to-a-website

I will be closing this issue as we are tracking the translation progress at #168

Feel free to reopen, if you have a different issue

[2022-09-18 09:17] #215 closed

[2022-10-04 15:54] ishpaul777 commented on #168
Hey @arshadkazmi42, I would like to contribute to the translation of Reacting to Input with State Page.

[2022-10-04 16:05] arshadkazmi42 commented on #168
Page assigned.

[2022-10-05 07:22] ishpaul777 commented on #2
what should we do with the word "Imperative".
Translation - अनिवार्य
or just like this - इम्पेरेटिव
I think इम्पेरेटिव will make more sense

[2022-10-05 08:43] arshadkazmi42 commented on #2
Yes, I think इम्पेरेटिव will make more sense => `ट्रांसलेशन`

We want the documentation to be easy to understand. So I think `अनिवार्य` will be a bit difficult to understand.

[2022-11-12 10:47] arshadkazmi42 commented on #168
Hi @rajpatel17-bot

Editor setup page is already taken up by @Anishpras

Can you select a page from the list mentioned in this issue which is not assigned to anyone (No username is mentioned against that page name).

Let me know which page you would like to work on, I will assign it to you asap

[2022-11-12 10:49] arshadkazmi42 commented on #168
@Anishpras Are you working on `Editor Setup` page? As there are other members who are also interested to take this page up, if you are not working on it, you can let me know. I will assign it to someone else.

[2022-11-12 10:59] arshadkazmi42 commented on #168
@rajpatel17-bot Page assigned

[2022-11-12 12:36] Upendr-sahni commented on #168
Hey @arshadkazmi42, i want to translate `State as a Snapshot` so will you please assign this task?
Page Url : https://beta.hi.reactjs.org/learn/state-as-a-snapshot

Thank you...

[2022-11-12 13:25] arshadkazmi42 commented on #168
@Upendr-sahni Page assigned

[2022-11-15 18:20] arshadkazmi42 commented on #168
Which command is giving you this error?

Did you run `yarn install` to install all dependencies?
Did you get any errors while running `yarn install`?

[2022-11-15 18:27] arshadkazmi42 commented on #168
Can you try removing node_modules and reinstalling using

1. `yarn install`
2. Run `yarn run dev` to start